<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CfgJobInfoMapper">
  <resultMap id="BaseResultMap" type="pojo.CfgJobInfo">
    <result column="cfg_job_id" jdbcType="VARCHAR" property="cfgJobId" />
    <result column="require_id" jdbcType="VARCHAR" property="requireId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="project_en_name" jdbcType="VARCHAR" property="projectEnName" />
    <result column="jobflow_name" jdbcType="VARCHAR" property="jobflowName" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="rate_id" jdbcType="VARCHAR" property="rateId" />
    <result column="run_count" jdbcType="INTEGER" property="runCount" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="job_start_time" jdbcType="VARCHAR" property="jobStartTime" />
    <result column="use_flag" jdbcType="VARCHAR" property="useFlag" />
    <result column="exec_user" jdbcType="VARCHAR" property="execUser" />
    <result column="log_path" jdbcType="VARCHAR" property="logPath" />
    <result column="holiday_flag" jdbcType="VARCHAR" property="holidayFlag" />
    <result column="rerun_interval" jdbcType="INTEGER" property="rerunInterval" />
    <result column="run_time" jdbcType="INTEGER" property="runTime" />
    <result column="wait_time" jdbcType="INTEGER" property="waitTime" />
    <result column="run_system" jdbcType="VARCHAR" property="runSystem" />
    <result column="del_sign" jdbcType="VARCHAR" property="delSign" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cfg_job_id, require_id, tenant_id, project_en_name, jobflow_name, job_name, node_name, 
    rate_id, run_count, priority, job_start_time, use_flag, exec_user, log_path, holiday_flag, 
    rerun_interval, run_time, wait_time, run_system, del_sign, description, create_user, 
    create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="pojo.CfgJobInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cfg_job_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="pojo.CfgJobInfoExample">
    delete from cfg_job_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.CfgJobInfo">
    insert into cfg_job_info (cfg_job_id, require_id, tenant_id, 
      project_en_name, jobflow_name, job_name, 
      node_name, rate_id, run_count, 
      priority, job_start_time, use_flag, 
      exec_user, log_path, holiday_flag, 
      rerun_interval, run_time, wait_time, 
      run_system, del_sign, description, 
      create_user, create_time, update_user, 
      update_time)
    values (#{cfgJobId,jdbcType=VARCHAR}, #{requireId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, 
      #{projectEnName,jdbcType=VARCHAR}, #{jobflowName,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, 
      #{nodeName,jdbcType=VARCHAR}, #{rateId,jdbcType=VARCHAR}, #{runCount,jdbcType=INTEGER}, 
      #{priority,jdbcType=INTEGER}, #{jobStartTime,jdbcType=VARCHAR}, #{useFlag,jdbcType=VARCHAR}, 
      #{execUser,jdbcType=VARCHAR}, #{logPath,jdbcType=VARCHAR}, #{holidayFlag,jdbcType=VARCHAR}, 
      #{rerunInterval,jdbcType=INTEGER}, #{runTime,jdbcType=INTEGER}, #{waitTime,jdbcType=INTEGER}, 
      #{runSystem,jdbcType=VARCHAR}, #{delSign,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.CfgJobInfo">
    insert into cfg_job_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cfgJobId != null">
        cfg_job_id,
      </if>
      <if test="requireId != null">
        require_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="projectEnName != null">
        project_en_name,
      </if>
      <if test="jobflowName != null">
        jobflow_name,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="rateId != null">
        rate_id,
      </if>
      <if test="runCount != null">
        run_count,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="jobStartTime != null">
        job_start_time,
      </if>
      <if test="useFlag != null">
        use_flag,
      </if>
      <if test="execUser != null">
        exec_user,
      </if>
      <if test="logPath != null">
        log_path,
      </if>
      <if test="holidayFlag != null">
        holiday_flag,
      </if>
      <if test="rerunInterval != null">
        rerun_interval,
      </if>
      <if test="runTime != null">
        run_time,
      </if>
      <if test="waitTime != null">
        wait_time,
      </if>
      <if test="runSystem != null">
        run_system,
      </if>
      <if test="delSign != null">
        del_sign,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cfgJobId != null">
        #{cfgJobId,jdbcType=VARCHAR},
      </if>
      <if test="requireId != null">
        #{requireId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="projectEnName != null">
        #{projectEnName,jdbcType=VARCHAR},
      </if>
      <if test="jobflowName != null">
        #{jobflowName,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="rateId != null">
        #{rateId,jdbcType=VARCHAR},
      </if>
      <if test="runCount != null">
        #{runCount,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="jobStartTime != null">
        #{jobStartTime,jdbcType=VARCHAR},
      </if>
      <if test="useFlag != null">
        #{useFlag,jdbcType=VARCHAR},
      </if>
      <if test="execUser != null">
        #{execUser,jdbcType=VARCHAR},
      </if>
      <if test="logPath != null">
        #{logPath,jdbcType=VARCHAR},
      </if>
      <if test="holidayFlag != null">
        #{holidayFlag,jdbcType=VARCHAR},
      </if>
      <if test="rerunInterval != null">
        #{rerunInterval,jdbcType=INTEGER},
      </if>
      <if test="runTime != null">
        #{runTime,jdbcType=INTEGER},
      </if>
      <if test="waitTime != null">
        #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="runSystem != null">
        #{runSystem,jdbcType=VARCHAR},
      </if>
      <if test="delSign != null">
        #{delSign,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.CfgJobInfoExample" resultType="java.lang.Long">
    select count(*) from cfg_job_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cfg_job_info
    <set>
      <if test="record.cfgJobId != null">
        cfg_job_id = #{record.cfgJobId,jdbcType=VARCHAR},
      </if>
      <if test="record.requireId != null">
        require_id = #{record.requireId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null">
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectEnName != null">
        project_en_name = #{record.projectEnName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobflowName != null">
        jobflow_name = #{record.jobflowName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobName != null">
        job_name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeName != null">
        node_name = #{record.nodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.rateId != null">
        rate_id = #{record.rateId,jdbcType=VARCHAR},
      </if>
      <if test="record.runCount != null">
        run_count = #{record.runCount,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.jobStartTime != null">
        job_start_time = #{record.jobStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.useFlag != null">
        use_flag = #{record.useFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.execUser != null">
        exec_user = #{record.execUser,jdbcType=VARCHAR},
      </if>
      <if test="record.logPath != null">
        log_path = #{record.logPath,jdbcType=VARCHAR},
      </if>
      <if test="record.holidayFlag != null">
        holiday_flag = #{record.holidayFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.rerunInterval != null">
        rerun_interval = #{record.rerunInterval,jdbcType=INTEGER},
      </if>
      <if test="record.runTime != null">
        run_time = #{record.runTime,jdbcType=INTEGER},
      </if>
      <if test="record.waitTime != null">
        wait_time = #{record.waitTime,jdbcType=INTEGER},
      </if>
      <if test="record.runSystem != null">
        run_system = #{record.runSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.delSign != null">
        del_sign = #{record.delSign,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cfg_job_info
    set cfg_job_id = #{record.cfgJobId,jdbcType=VARCHAR},
      require_id = #{record.requireId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      project_en_name = #{record.projectEnName,jdbcType=VARCHAR},
      jobflow_name = #{record.jobflowName,jdbcType=VARCHAR},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      node_name = #{record.nodeName,jdbcType=VARCHAR},
      rate_id = #{record.rateId,jdbcType=VARCHAR},
      run_count = #{record.runCount,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER},
      job_start_time = #{record.jobStartTime,jdbcType=VARCHAR},
      use_flag = #{record.useFlag,jdbcType=VARCHAR},
      exec_user = #{record.execUser,jdbcType=VARCHAR},
      log_path = #{record.logPath,jdbcType=VARCHAR},
      holiday_flag = #{record.holidayFlag,jdbcType=VARCHAR},
      rerun_interval = #{record.rerunInterval,jdbcType=INTEGER},
      run_time = #{record.runTime,jdbcType=INTEGER},
      wait_time = #{record.waitTime,jdbcType=INTEGER},
      run_system = #{record.runSystem,jdbcType=VARCHAR},
      del_sign = #{record.delSign,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>